apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vdc-digeocat-prod

resources:
  - vdc-api.yml
  - vdc-api-config.yml
  - vdc-frontend.yml
  - vdc-frontend-public.yml

images:
- name: mzk.cz/vdc-api
  newName: ghcr.io/moravianlibrary/vdc-api
  newTag: c49269a5edfd763ce5e9101b99be7463408c928f
- name: mzk.cz/vdc-frontend
  newName: ghcr.io/moravianlibrary/vdc-frontend
  newTag: c49269a5edfd763ce5e9101b99be7463408c928f
- name: mzk.cz/vdc-frontend-public
  newName: ghcr.io/moravianlibrary/vdc-frontend-public
  newTag: c49269a5edfd763ce5e9101b99be7463408c928f
