apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vdc-digeocat-prod

resources:
  - vdc-api.yml
  - vdc-api-config.yml
  - vdc-frontend.yml
  - vdc-frontend-public.yml

images:
- name: mzk.cz/vdc-api
  newName: ghcr.io/moravianlibrary/vdc-api
  newTag: 54cfc81abe3e9d8ade3f0946462b4719a0c9f064
- name: mzk.cz/vdc-frontend
  newName: ghcr.io/moravianlibrary/vdc-frontend
  newTag: 54cfc81abe3e9d8ade3f0946462b4719a0c9f064
- name: mzk.cz/vdc-frontend-public
  newName: ghcr.io/moravianlibrary/vdc-frontend-public
  newTag: 54cfc81abe3e9d8ade3f0946462b4719a0c9f064
