apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vdc-digeocat-prod

resources:
  - vdc-api.yml
  - vdc-api-config.yml
  - vdc-frontend.yml
  - vdc-frontend-public.yml

images:
- name: mzk.cz/vdc-api
  newName: ghcr.io/moravianlibrary/vdc-api
  newTag: 03c7c31bf7b1f49e73baaa5082b7bc27523ea978
- name: mzk.cz/vdc-frontend
  newName: ghcr.io/moravianlibrary/vdc-frontend
  newTag: 03c7c31bf7b1f49e73baaa5082b7bc27523ea978
- name: mzk.cz/vdc-frontend-public
  newName: ghcr.io/moravianlibrary/vdc-frontend-public
  newTag: 03c7c31bf7b1f49e73baaa5082b7bc27523ea978
