apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vdc-digeocat-prod

resources:
  - vdc-api.yml
  - vdc-api-config.yml
  - vdc-frontend.yml
  - vdc-frontend-public.yml

images:
- name: mzk.cz/vdc-api
  newName: ghcr.io/moravianlibrary/vdc-api
  newTag: 01fcb78eb2b053e4caf3b88a87c11c529cdcc29b
- name: mzk.cz/vdc-frontend
  newName: ghcr.io/moravianlibrary/vdc-frontend
  newTag: 01fcb78eb2b053e4caf3b88a87c11c529cdcc29b
- name: mzk.cz/vdc-frontend-public
  newName: ghcr.io/moravianlibrary/vdc-frontend-public
  newTag: 01fcb78eb2b053e4caf3b88a87c11c529cdcc29b
